/* ==================== DETAIL EXPLORE ========================= */

section.content-detail-explore {
  width: 80%;
  max-width: 1200px;
  padding: 1em;
  display: flex;
  margin: 5rem auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.breadcumb-detail-explore {
  margin-top: -7rem;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1em;
  animation: slide_left 0.5s linear forwards;
  overflow: hidden;
}
.breadcumb-detail-explore p {
  animation: slide_left 0.45s linear forwards;
}

h2, h3 {
  color: var(--main-color);
  padding-top: 2rem;
}

h2 {
  line-height: 120%;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.breadcumb-detail-explore span {
  font-weight: bold;
}
.card-detail-explore {
  width: 100%;
  max-width: 1800px;
  margin: 2rem auto;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 150%;
  opacity: 0;
  animation: slide_up 0.5s linear forwards;
}

.card-detail-explore i {
  margin-right: 0.27rem;
}

.card-detail-explore a {
  color: var(--main-color);
  font-weight: bold;
}

.card-detail-explore a:hover {
  color: var(--main-dark);
}

.card-detail-explore ul {
  margin-left: 2rem;
  line-height: 200%;
}

.card-detail-explore .flex-detail-explore {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.4rem 0.9rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 1em;
}

.card-detail-explore .img-card-detail-explore {
  flex: 1;
  box-sizing: border-box;
  height: auto;
}
.card-detail-explore .img-card-detail-explore img {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  filter: contrast(1.2);
  object-fit: cover;
  border-radius: 1em 0 0 1em;
  opacity: 0;
  animation: fade_in 0.5s linear forwards;
  animation-delay: 0.5s;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-detail-explore section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.flex-detail-explore section {
  padding: 1rem;
}

.flex-detail-explore section > div {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 1s;
  overflow: hidden;
}
@keyframes slide_right {
  0% {
    transform: translatex(100px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

.tag-detail-explore {
  margin-top: 1em;
}
.description-card-detail-explore {
  padding: 1rem;
  margin: 2.7rem;
}

/* MANFAAT */
.wrap-flex-detail-explore {
  opacity: 0;
  animation: slide_bottom 0.5s linear forwards;
  animation-delay: 1.6s;
}
.card-detail-explore .wrap-flex-detail-explore {
  display: flex;
  margin-bottom: 5rem;
}
.wrap-flex-detail-explore .img-wrap-detail-explore {
  flex: 1;
  width: 100%;
}
.wrap-flex-detail-explore .img-wrap-detail-explore img {
  height: 300px;
}
.wrap-flex-detail-explore .manfaat-detail-explore {
  flex: 1;
}

/* RESEP */
.resep-detail-explore {
  opacity: 0;
  animation: slide_up 0.5s linear forwards;
  animation-delay: 2.5s;
}
.resep-detail-explore section {
  padding: 2rem;
  margin-top: 1em;
  border-radius: 1em;
  box-shadow: 0 0.4rem 0.9rem 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.resep-detail-explore h2 {
  text-align: center;
  margin: 1em 0;
}

.resep-detail-explore ul {
  word-wrap: break-word;
  text-overflow: clip;
}

.sumber-detail-explore {
  margin-top: 1rem;
  color: silver;
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  box-sizing: border-box;
}
.sumber-detail-explore span {
  text-transform: none !important;
  font-weight: bold;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .breadcumb-detail-explore {
    margin-top: 2rem;
  }
  .description-card-detail-explore{
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 1.4rem;
  }
  .flex-detail-explore section {
    padding: 0;
  }
  .flex-detail-explore section > div {
    margin: 1em;
  }
  .flex-detail-explore .tags-detail-explore {
    position: relative;
    top: -10px;
  }
  .wrap-flex-detail-explore.img-wrap-detail-explore img {
    height: 220px;
  }
  section .card-detail-explore {
    width: 95%;
    padding: 1rem;
    font-size: 1rem;
  }
  .card-detail-explore .flex-detail-explore {
    margin-top: 2rem;
    flex-direction: column;
  }
  .card-detail-explore .flex-detail-explore .tag-detail-explore {
    padding-bottom: 1rem;
  }
  .card-detail-explore .wrap-flex-detail-explore {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .card-detail-explore .img-card-detail-explore img {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    animation: slide_up 0.75s linear forwards;
  }
  .manfaat-detail-explore {
    margin-top: 3rem;
  }
  .resep-detail-explore section {
    padding: 1rem;
  }
}
