/* ==================== HERO SECTION ALL PAGE ========================= */

.hero h1 {
  color: var(--second-color);
  text-shadow: 0 0 1rem #000;
  font-size: 30px;
}
.hero p {
  text-shadow: 0 0 1rem #000;
}
section.hero {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 390px;
  background-image: url(../../public/img/hero.jpg);
  background-attachment: fixed;
  overflow: hidden;
  background-position: bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: fade_in .5s linear forwards;
  animation-delay: 0.3s;
}

/* ==================== EXPLORE ========================= */

@keyframes slide_top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

section.content-explore {
  width: 80%;
  max-width: 1200px;
  padding: 1em;
  display: flex;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-explore {
  width: 310px;
  background-color: #fff;
  margin: 1em;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  padding: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}

.card-explore:hover {
  box-shadow: 0 0.4rem 0.9rem 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.card-explore img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: var(--main-color);
  filter: contrast(1.2);
  transition: 0.3s ease-in;
  opacity: 0.8;
}

.card-explore img:hover {
  opacity: 1;
}

.card-explore p {
  margin-bottom: 1em;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 1.2px;
}

.card-explore h2 {
  color: var(--main-color);
}

p.tag-explore {
  color: #aaa;
}

@media only screen and (max-width: 768px) {
  h2.name-explore {
    font-size: 1.4rem;
  }
  .content-explore {
    width: 100%;
  }
  .card-explore {
    width: 320px;
  }
}
