/* ==================== MAIN HOMEPAGE ========================= */

main h1 {
  font-family: "Poppins", sans-serif;
}

/* MAIN BUTTON */
main .first-main button,
main .second-main button,
main .third-main button,
main .fourth-main button,
main .fifth-main button,
main .sixth-main button {
  background-color: var(--second-color);
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  min-width: 44px;
  min-height: 44px;
  margin-top: 20px;
  border-color: transparent;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--second-color);
  transition: 0.4s ease;
  animation: slide_top 0.5s linear forwards;
  animation-delay: 0.3s;
}

main .first-main button:hover,
main .second-main button:hover,
main .third-main button:hover,
main .fourth-main button:hover,
main .fifth-main button:hover,
main .sixth-main button:hover {
  color: var(--second-color);
  background-color: transparent;
  border: 0.2rem solid var(--second-color);
}

/* ==================== FIRST MAIN ========================= */
main .first-main {
  display:flex;
  padding: 80px 72px;
  margin: 0 auto;
  background-color: #fdfdfd;
  justify-content: space-evenly;
}

main .first-main .tagline {
  margin: 30px 24px;
  justify-content: center;
}

main .first-main .tagline h1 {
  font-weight: bold;
  color: #000;
  font-size: 40px;
  margin-bottom: 20px;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 0.3s;
}

main .first-main .tagline h2 {
  color: var(--second-color);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 0.3s;
}

main .first-main .tagline h2 span {
  color: var(--main-color);
}

main .first-main .tagline p {
  line-height: 2;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 0.3s;
}

main .first-main .tagline p strong {
  color: var(--second-color);
}

main .first-main .tagline-img {
  display: flex;
  justify-content: center;
}

main .first-main .tagline-img img{
  width: 400px;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
  animation: fade_in 1s linear forwards;
  animation-delay: 0.3s;
}

/* ==================== SECOND MAIN ========================= */
main .second-main {
  padding: 80px 72px;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  background-color: #fff;
  background-image: url('../../public/img/home/background-tagline.png');  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 16px;
}

main .second-main img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 0px auto;
  max-width: 520px; 
}

main .second-main .tagline-heading h1 {
  font-size: 34px;
  color: var(--second-color);
  margin-bottom: 30px;
}

main .second-main .tagline-heading h1 span {
  color: var(--main-color);
}

/* ==================== THIRD MAIN ========================= */
main .third-main {
  padding: 80px 72px;
  display: flex;
  background-color: #fff;
  text-align: center;
  align-items: center;
  font-size: 16px;
}

main .third-main .tagline {
  margin: 30px 24px;
  justify-content: center;
}

main .third-main .tagline-heading {
  text-align: left;
  margin-right: 50px;
}

main .third-main .tagline-heading h1 {
  font-size: 34px;
  color: var(--second-color);
  margin-bottom: 30px;
}

main .third-main .tagline-heading h1 span {
  color: var(--main-color);
}

main .third-main .tagline h2 {
  color: var(--second-color);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 0.3s;
}

main .third-main .tagline p {
  line-height: 2;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 0.3s;
}

main .third-main .tagline p strong{
  color: var(--second-color);
}

main .third-main .tagline-img {
  display: flex;
  justify-content: center;
}

main .third-main .tagline-img img{
  width: 400px;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
  animation: fade_in 1s linear forwards;
  animation-delay: 0.3s;
}

/* ==================== FOURTH MAIN ========================= */
main .fourth-main {
  padding: 80px 72px;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  background-color: #ffff;
  background-image: url('../../public/img/home/background-tagline.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 16px;
}

main .fourth-main img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 0px auto;
  max-width: 520px; 
}

main .fourth-main .tagline-heading h1 {
  font-size: 34px;
  color: var(--second-color);
  margin-bottom: 30px;
}

main .fourth-main .tagline-heading h1 span {
  color: var(--main-color);
}

/* ==================== FIFTH MAIN ========================= */
main .fifth-main {
  padding: 80px 96px;
  background-image: url('../../public/img/home/background-fifth-main.png');
  background-color: #ffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

main .fifth-main h1 {
  font-size: 30px;
  color: var(--second-color);
  margin-bottom: 30px;
  text-align: center;
}

main .fifth-main span {
  color: var(--main-color);
}

main .fifth-main .benefit .box {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  opacity: 0;
  animation: slide_left .2s linear forwards;
}

main .fifth-main .benefit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .fifth-main .benefit .box .content {
  width: 100%;
  max-width: 1200px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  margin: -8px auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main .fifth-main .benefit .box i {
  font-size: 24px;
  width: 50px;
  box-sizing: border-box;
  height: 50px;
  margin-right: 0.5rem;
  background-color: var(--second-color);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

main .fifth-main .benefit .box i fa-utensils, fa-users, fa-users-clock {
  justify-content: right;
  width: 100%;
  margin-left: -10rem;
}

main .fifth-main .benefit .box .content h2 {
  font-size: 20px;
  font-family: var(--font);
}

main .fifth-main .benefit .box .content p {
  font-size: 15px;
  width: 100%;
}

@media (max-width: 760px) {
  .benefit .box {
    margin-top: 1rem;
  }
  .fa-utensils {
    max-width: 50px;
  }
  .fa-users {
    max-width: 50px;
  }
  .fa-users-clock {
    max-width: 50px;
  }
}

/* ==================== SIXTH MAIN ========================= */
main .sixth-main {
  display:flex;
  padding: 80px 72px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url('../../public/img/home/background-sixth-main.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  background-color: #dcdce4;
  justify-content: space-evenly;
}

main .sixth-main .tagline {
  margin: 30px 24px;
  justify-content: center;
}

main .sixth-main .tagline h1 {
  font-weight: bold;
  color: var(--second-color);
  font-size: 40px;
  margin-bottom: 20px;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 0.3s;
}

main .sixth-main .tagline h1 span {
  color: var(--main-color);
}

main .sixth-main .tagline-img {
  display: flex;
  justify-content: center;
}

main .sixth-main .tagline-img iframe{
  width: 400px;
  height: 220px;
  border-radius: 16px;
  object-fit: cover;
  animation: fade_in 1s linear forwards;
  animation-delay: 0.3s;
}

iframe{
  margin-top: 50px;
}
