<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="dicoding:email" content="yogatirtapermana552@gmail.com">
  <meta name="description" content="Free Recipes Catalogue Website For You">
  <meta name="keywords" content="Recipe, Food, Food-Waste, Healthy">
  <meta name="author" content="C23-M4017 Team">
  <meta name="theme-color" content="#009ba0">

  <title>TheRathings</title>

  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" href="favicon.png" alt="therathings">
  <link rel="stylesheet" href="fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Poppins:wght@300;400;600;800&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <!-- NAVBAR-->
  <header class="navbar">
    <div class="navbar-brand">
      <img src="favicon.png">
      <h1>TheRathings</h1>
    </div>

    <nav id="navigationDrawer" class="navbar-navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/explore">Explore</a></li>
        <li><a href="#/foodthings">FoodThings</a></li>
        <li><a href="#/about">About</a></li>
        <li><a class="login-button-home" href="#/login">Log In</a></li>
      </ul>
    </nav>

    <div class="navbar-menu">
      <button id="hamburgerButton">☰</button>
    </div>
  </header>
  <!-- NAVBAR END -->

  <main id="mainContent">
  </main>

  <!-- FOOTER -->
  <footer>
    <section class="first-footer">
      <div class="footer-header">
        <div >
          <h1>TheRathings</h1>
          <p>Eat Healthy, Eco Friendly</p>
        </div>
      </div>

      <div class="footer-navigation">
        <h1>Navigation</h1>
        <div class="navigation-list">
          <ul>
            <li>
              <a href="#/home"><i class="fa fa-arrow-right"></i><span>Home</span></a>
            </li>
            <li>
              <a href="#/explore"><i class="fa fa-arrow-right"></i><span>Explore</span></a>
            </li>
            <li>
              <a href="#/foodthings"><i class="fa fa-arrow-right"></i><span>FoodThings</span></a>
            </li>
            <li>
              <a href="#/about"><i class="fa fa-arrow-right"></i><span>About</span></a>
            </li>
            <li>
              <a href="#/login"><i class="fa fa-arrow-right"></i><span>Log In</span></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-contact">
        <h1>Social Media</h1>
        <div class="contact-list">
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook"></i><span>TheRathings</span></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i><span>@therathings</span></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i><span>@therathings</span></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-whatsapp"></i><span>+62 812 3456 7890</span></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="copyright">
      <p>Copyright © 2023 - TheRathings</p>
    </div>
  </footer>
  <!-- FOOTER END -->
</body>
</html>
