@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Poppins:wght@300;400;600;800&display=swap");

@import url('./components/home.css');
@import url('./components/explore.css');
@import url('./components/detail-explore.css');
@import url('./components/foodthings.css');
@import url('./components/detail.css');
@import url('./components/bookmark.css');
@import url('./components/about.css');
@import url('./components/login.css');

/* ==================== VAR COLOR ========================= */
:root {
  --main-color: #009ba0;
  --main-light: #aafcff;
  --main-dark: #005255;

  --second-color: #ffb301;
  --second-light: #ffd166;
  --second-dark: #ffb301;

  --third-color: #fe5444;
  --third-light: #ffaca4;
  --third-dark: #b21001;

  --grey-color: #dcdce4;
  --grey-f1: #f1f1f1;
  --grey-f2: #f2f2f2;

  --shadow:#dadada;
  --font-color: #252525;
}

/* ANIMASI */
@keyframes slide_left {
  0% {
    transform: translatex(-100px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}
@keyframes slide_bottom {
  0% {
    transform: translatey(-100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes slide_top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_right {
  0% {
    transform: translatex(100px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}
@keyframes slide_up {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anmBg {
  to {
    background-position: -200% 0;
  }
}

/* ==================== ROOT SETTINGS ========================= */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  background-color: var(--main-color);
  width: 15px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 0.35rem;
}

/* ==================== NAVBAR ========================= */
.navbar {
  padding: 8px 8px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-brand {
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  animation: slide_left 0.5s linear forwards;
}

.navbar .navbar-brand img {
  width: 40px;
  margin-left: 20px;
  margin-right: 10px;
}

.navbar .navbar-brand h1 {
  color: var(--main-color);
  font-weight: bold;
  padding-top: 8px;
  font-size: 1.5em;
  line-height: 0;
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
}

.navbar .navbar-menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.navbar .navbar-navigation {
  position: absolute;
  top: 50px;
  left: -150px;
  width: 150px;
  justify-content: left;
  transition: all 0.3s;
  padding: 8px 4px;
  background-color: #fff;
  overflow: hidden;
}

.navbar .navbar-navigation.open {
  top: 60px;
  left: 0;
  height: 261px;
}

.navbar .navbar-navigation ul li a {
  display: inline-block;
  justify-content: center;
  font-size: 1rem;
  margin-right: -40px;
  text-decoration: none;
  color: var(--font-color);
  animation: slide_top 0.5s linear forwards;
}

.navbar .navbar-navigation ul li a:hover {
  color: var(--second-color);
  transition: 0.4s;
}

.login-button-home {
  display: block;
  margin: 0;
  margin-right: 50px;
  color: #FFF;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}

/* ==================== MAIN CONTENT ========================= */
main {
  flex: 1;
}

.content {
  margin: 50px auto;
  min-height: 100%;
}

.skeleton {
  user-select: none;
  background-color: #cacaca;
  color: var(--font-color);
  background-image: linear-gradient(to right, rgb(192, 192, 192), rgb(228, 228, 228));
  background-size: 200% 100%;
  animation: anmBg 1s linear 3;
}

/* ==================== FOOTER ========================= */
footer .first-footer {
  display: grid;
  padding: 40px 60px 30px;
  background-color: var(--grey-color);
  margin-bottom: 16px;
  color: var(--font-color);
  justify-content: space-between;
  border-bottom: 2px solid var(--second-color);
}

footer .navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .first-footer .footer-header h1 {
  font-size: 32px;
  margin-bottom: 12px;
  color: var(--main-color);
}

footer .first-footer .footer-header p {
  font-weight: bold;
}

footer div h1{
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 24px;
}

footer section div ul {
  padding: 0;
}

footer section div ul li {
  list-style: none;
}

footer section div ul li a {
  display: block;
  text-decoration: none;
  color: var(--font-color);
  font-size: 16px;
  line-height: 2;
  min-height: 44px;
}

footer section div ul li a:hover {
  padding-left: 16px;
  transition: all, ease, 0.8s;
  color: var(--second-color);
}

footer section div ul li i {
  color: var(--main-color);
  padding-right: 1.5rem;
}

/* COPYRIGHT */
footer {
  background-color: var(--grey-color);
  margin-bottom: 0;
}

footer .copyright {
  text-align: center;
  color: var(--font-color);
  font-weight: bold;
  padding: 0 16px 20px 16px;
}